.footer{
    background-color: #005e90;
    color: white;
    font-size: 14px;
    // justify-content: space-between;
    width: 100%;
}
.footer__section{
    display: flex;
    justify-content: space-between;
    // padding: 0 10lvw 0 10lvw;
    // padding-left: 10%;
    // padding-right: 10%;
    gap: 50px;
}

.footer__section:first-of-type{
    // padding: 50px 0 50px 0;
    padding: 50px 10lvw 50px 10lvw;
}

.section__ul{
    list-style: none;
    padding-left: 0;
}

.section__ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__section:last-of-type{
    background-color: black;
    padding-left: 10lvw;
}