$primary-color: #004494;
$yellow: #ffc107;
$yellow-dark: #ffbf00;
$red: #c62828;
$red-dark: #9a0007;
$white: #ffffff;
$gray-light: #f5f5f5;
$gray-hover: #f1f1f1;
$text-color: #333;

.header-line {
    background-color: $primary-color;
    height: 8px;
    width: 100%;
    background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}

.carreras__background{
    background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  height: 95lvh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 95lvh;
}

.back-button {
    color: $yellow;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    color: $yellow-dark;
}

.filters {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.filter {
    background-color: $red;
    color: $white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.selected {
        background-color: $red-dark;
    }

    &:hover {
        background-color: $red-dark;
    }
}

.ideal-careers {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 20px 0;
}

.career-button {
    background-color: $white;
    border: none;
    font-size: 1.2em;
    color: $text-color;
    font-weight: bold;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }
}

.info-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    background-color: white;
    text-align: left;
}

thead th {
    background-color: $gray-light;
    font-weight: bold;
}

tbody tr:hover {
    background-color: white;
}
