.postulaciones__h1 {
  border-left: 5px #e5b300 solid;
  padding-left: 5px;
  margin-left: 10%;
}

.postulaciones__a{
    margin-left: 10%;
    text-decoration: none;
    background-color: #005e90;
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}

.postulaciones__section{
    margin: 10% 0 10% 0;
}